/*KILL margin*/

@font-face {
	font-family: 'Hanken Grotesk';
	src: url('./fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

html {
	font-family: 'Hanken Grotesk';
}

body {
	margin: 0;
}

/*Mobile design*/

/*sections*/

section {
	max-width: 100%;
}

/*section blue*/

.blue {
	background-image: linear-gradient(
		hsl(252, 100%, 67%),
		hsl(241, 81%, 54%)
	);
	text-align: center;
	color: white;
	border-radius: 0px 0px 20px 20px;
	padding: 20px;;
}

.circle {
	text-align: center;
	margin: auto;
	max-width: 33vw;
	max-height: 33vw;
	padding: 5px;
	border-radius: 100%;
	background-image: linear-gradient(
		hsla(256, 72%, 46%, 1),
		hsla(241, 72%, 46%, 0)
	);
}

/*Section white*/

.snipet {
	border-radius: 20px;
	padding: 10px;
	margin: 5%;
}

.reaction{
	background-color: hsla(0, 100%, 67%, 5%);
}

.memory{
	background-color: hsla(39, 100%, 56%, 5%);
}

.verbal{
	background-color: hsla(166, 100%, 37%, 5%);
}

.visual{
	background-color: hsla(234, 85%, 45%, 5%);
}

/*Paragraphs*/

p {
	font-size: 18px;
}

/*Attribution*/

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/*Desktop design*/
@media only screen and (min-width: 1440px) {

}